/* Colours -------------------------------------------------- */

$color-primary: #FF9C00;

/* Scaffolding ---------------------------------------------- */

$column-width: 30px;
$gutter-width: 10px;
$baseline: 8px;


